<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>HOME</title>
  </head>
  <body>
    <!----------------------------HEADER------------------------------------ -->
    <header class="header">
      <div>
        <img src="/images/logo-mercado-liebre.svg" class="logo" /><br /><br />
        <i class="fas fa-search"></i>
        <input class="input" type="text" placeholder="Buscar" />
        <h2 class="txt2">
          <i class="fas fa-hand-holding-usd"></i>
          Compra en cuotas y sin tarjeta de crédito
        </h2>
      </div>

      <a href="#"> <i id="icon-burguer" class="fas fa-bars"></i></a>

      <nav class="burger-menu">
        <ul class="left-navbar">
          <li class="li">Ofertas</li>
          <li class="li">Tiendas Oficiales</li>
          <li class="li">Vender</li>
          <li class="li">Ayuda</li>
        </ul>

        <ul class="left-navbar">
          <li class="li"><a href="/Regiter"> Crea tu cuenta</a></li>
          <li class="li"><a href="/Login"> Ingresa</a></li>
          <li class="li">Mis compras</li>
        </ul>
      </nav>
    </header>

    <!-- SECCIÓN PRINCIPAL -->
    <main class="main">
      <!---------------SECCIÓN DE LAS ULTIMAS VISITAS------------------->
      <h2 class="titulares">Basado en tu última visita</h2>
      <section class="section_1">
        <div class="article_container">
          <article class="separacion">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="cafetera"
              width="100%"
              height="100%"
            />
            <div class="precios_Container">
              <p class="precio">6.770 puntos</p>
              <p class="descuentos">40% OFF</p>
            </div>
            <h4 class="descripciones">Cafetera Moulinex</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="100%"
              height="100%"
              alt="macbook"
            />
            <div class="precios_Container">
              <p class="precio">230.000 puntos</p>
              <p class="descuentos">20% off</p>
            </div>
            <h4 class="descripciones">MackBook Pro 2019</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="100%"
              height="100%"
              alt="samsung"
            />
            <div class="precios_Container">
              <p class="precio">70.500 puntos</p>
              <p class="descuentos">10% off</p>
            </div>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="100%"
              height="100%"
              alt="cafetera"
            />
            <div class="precios_Container">
              <p class="precio">23.200 puntos</p>
              <p class="descuentos">5% off</p>
            </div>
            <h4 class="descripciones">SmartTv Samsung 43"</h4>
          </article>
        </div>
      </section>
      <br /><br />
      <!----------------SECCIÓN DE LAS OFERTAS------------------------------>
      <h2 class="titulares">Sección de Ofertas</h2>
      <section class="section_1">
        <div class="article_container-ofertas">
          <article class="separacion">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="100%"
              height="100%"
              alt="cafetera"
            />
            <div class="precios_Container">
              <p class="precio">6.770 puntos</p>
              <p class="descuentos">40% OFF</p>
            </div>
            <h4 class="descripciones">Cafetera Moulinex</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="100%"
              height="100%"
              alt="macbook"
            />
            <div class="precios_Container">
              <p class="precio">230.000 puntos</p>
              <p class="descuentos">20% off</p>
            </div>
            <h4 class="descripciones">MackBook Pro 2019</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="100%"
              height="100%"
              alt="samsung"
            />
            <div class="precios_Container">
              <p class="precio">70.500 puntos</p>
              <p class="descuentos">10% off</p>
            </div>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
          </article>
          <article class="separacion">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="100%"
              height="100%"
              alt="cafetera"
            />
            <div class="precios_Container">
              <p class="precio">23.200 puntos</p>
              <p class="descuentos">5% off</p>
            </div>
            <h4 class="descripciones">SmartTv Samsung 43"</h4>
          </article>
        </div>
      </section>
    </main>
    <br />
    <!---------------FOOTER---------------->
    <footer class="footer">
      <i class="fas fa-credit-card"></i>
      <section>
        <h2 class="tituloFooter">Paga con tarjeta o en efectivo</h2>
        <p class="txtFooter">
          Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <i class="fas fa-truck"></i>
      <section>
        <h2 class="tituloFooter">Envío gratis desde 2.500 puntos</h2>
        <p class="txtFooter">
          Solo por estar registrad@ en nuestra tienda tienes envíos gratis en
          miles de productos.
        </p>
      </section>
      <i class="fas fa-lock"></i>
      <section>
        <h2 class="tituloFooter">Seguridad, de principio a fin</h2>
        <p class="txtFooter">
          ¿No te gusta? ¡Devuélvelo! en nuestra tienda no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
  </body>
</html>
